<!DOCTYPE html>
<html lang="en">

    {{>head}}

    <body>
        <div class="main-content">
            {{>header}}

            <img src="img/robot.png" alt="Robot pic" class="portrait" />
        </div>

        {{>footer}}
    </body>

</html>