<!DOCTYPE html>
<html lang="en">

    {{>head}}

    <body>
        <div class="main-content">
            {{>header}}

            <img src="img/robot.png" alt="Robot pic" class="portrait" />
        </div>

        <p>This site was created by Mateus M. It uses data from mapbox.com and Weatherstack API.</p>

        {{>footer}}

    </body>

</html>